{%extends "base.html"%}
{%block title%} About █ {{block.super}}{%endblock%}
{%block content%}
About Conservation:
<ul>
	<li>UNC: Uncirculated (100%)</li>
    <li>XF: Extremely Fine (90%)</li>
    <li>VF: Very Fine (70%)</li>
    <li>F: Fine (50%)</li>
    <li>G: Good (25%)</li>
    <li>P: Poor</li>
</ul>

Coleção Completa Rio 2016:</br>
<img src="/media/rio_full_collection.jpg" width="250" alt="Full rio collection"/>
<ul>
	<li><a href='/coins/1-real-brasil2015-aihs/'>Atletismo Paralímpico</a></li>
	<li><a href='/coins/1-real-brasil2014-chqx/'>Atletismo</a></li>
	<li><a href='/coins/1-real-brasil2012/'>Bandeira</a></li>
	<li><a href='/coins/1-real-brasil2015-gzbv/'>Basquete</a></li>
	<li><a href='/coins/1-real-brasil2016/'>Boxe</a></li>
	<li><a href='/coins/1-real-brasil2015-0ovm/'>Futebol</a></li>
	<li><a href='/coins/1-real-brasil2014-ldys/'>Golfe</a></li>
	<li><a href='/coins/1-real-brasil2015-zblp/'>Judô</a></li>
	<li><a href='/coins/1-real-brasil2015-d2ya/'>Mascote Olimpíadas</a></li>
	<li><a href='/coins/1-real-brasil2016-2plw/'>Mascote Paralimpíadas</a></li>
	<li><a href='/coins/1-real-brasil2016-x574/'>Natação Paralímpica</a></li>
	<li><a href='/coins/1-real-brasil2014-uyv0/'>Natação</a></li>
	<li><a href='/coins/1-real-brasil2015-cvov/'>Paracanoagem</a></li>
	<li><a href='/coins/1-real-brasil2014-4dbw/'>Paratriatlo</a></li>
	<li><a href='/coins/1-real-brasil2015-jzfh/'>Rugby</a></li>
	<li><a href='/coins/1-real-brasil2015-91li/'>Vela</a></li>
	<li><a href='/coins/1-real-brasil2015-m0xo/'>Voleibol</a></li>
	
</ul>
{%endblock%}